<section class="hero-area">
  <div class="hero-slides owl-carousel">
    <% for (let receipt of receipts) { %>
      <div class="single-hero-slide bg-img">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
              <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                <h2 data-animation="fadeInUp" data-delay="300ms">
                  <%= receipt.receiptName %>
                </h2>
                <p data-animation="fadeInUp" data-delay="700ms">
                  <%= receipt.receiptText %>
                </p>
                <a href="<%= receipt.link %>" class="btn delicious-btn" data-animation="fadeInUp"
                  data-delay="1000ms">See
                  Receipe</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% } %>
  </div>
</section>