<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!-- Title -->
  <title>Delicious - Food Blog Template | Receipe Post</title>

  <!-- Favicon -->
  <link rel="icon" href="img/core-img/favicon.ico">

  <!-- Core Stylesheet -->
  <link rel="stylesheet" href="css/style.css">

</head>

<body>
  <!-- Preloader -->
  <div id="preloader">
    <i class="circle-preloader"></i>
    <img src="img/core-img/salad.png" alt="">
  </div>

  <!-- Search Wrapper -->
  <div class="search-wrapper">
    <!-- Close Btn -->
    <div class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <form action="#" method="post">
            <input type="search" name="search" placeholder="Type any keywords...">
            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- ##### Header Area Start ##### -->
  <%- include('components/header.html'); -%>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/breadcumb3.jpg);">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12">
            <div class="breadcumb-text text-center">
              <h2>Recipe</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <div class="receipe-post-area section-padding-80">

      <!-- Receipe Slider -->
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="receipe-slider owl-carousel">
              <img src="img/bg-img/bg5.jpg" alt="">
              <img src="img/bg-img/bg5.jpg" alt="">
              <img src="img/bg-img/bg5.jpg" alt="">
            </div>
          </div>
        </div>
      </div>

      <!-- Receipe Content Area -->
      <div class="receipe-content-area">
        <div class="container">

          <div class="row">
            <div class="col-12 col-md-8">
              <div class="receipe-headline my-5">
                <span>April 05, 2018</span>
                <h2>
                  <%= receiptName %>
                </h2>
                <div class="receipe-duration">
                  <h6>Prep: <%= preparationTime %> mins</h6>
                  <h6>Cook: <%= cookTime %> mins</h6>
                  <h6>Yields: <%= yields %> Servings</h6>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-4">
              <div class="receipe-ratings text-right my-5">
                <div class="ratings">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <a href="#" class="btn delicious-btn">For Begginers</a>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-lg-8">
              <% for (let preparationStep of preparationSteps) { %>
                <div class="single-preparation-step d-flex">
                  <h4>
                    <%= preparationStep.step %>
                  </h4>
                  <p>
                    <%= preparationStep.description %>
                  </p>
                </div>
                <% } %>
            </div>

            <!-- Ingredients -->
            <div class="col-12 col-lg-4">
              <div class="ingredients">
                <h4>Ingredients</h4>

                <% for (let ingredient of ingredients) { %>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="<%= ingredient.id %>">
                    <label class="custom-control-label" for="<%= ingredient.id %>">
                      <%= ingredient.name %>
                    </label>
                  </div>
                  <% } %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="section-heading text-left">
                <h3>Leave a comment</h3>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="contact-form-area">
                <form action="#" method="post">
                  <div class="row">
                    <div class="col-12 col-lg-6">
                      <input type="text" class="form-control" id="name" placeholder="Name">
                    </div>
                    <div class="col-12 col-lg-6">
                      <input type="email" class="form-control" id="email" placeholder="E-mail">
                    </div>
                    <div class="col-12">
                      <input type="text" class="form-control" id="subject" placeholder="Subject">
                    </div>
                    <div class="col-12">
                      <textarea name="message" class="form-control" id="message" cols="30" rows="10"
                        placeholder="Message"></textarea>
                    </div>
                    <div class="col-12">
                      <button class="btn delicious-btn mt-30" type="submit">Post Comments</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ##### Follow Us Instagram Area Start ##### -->
    <div class="follow-us-instagram">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h5>Follow Us Instragram</h5>
          </div>
        </div>
      </div>
      <!-- Instagram Feeds -->
      <div class="insta-feeds d-flex flex-wrap">
        <!-- Single Insta Feeds -->
        <div class="single-insta-feeds">
          <img src="img/bg-img/insta1.jpg" alt="">
          <!-- Icon -->
          <div class="insta-icon">
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          </div>
        </div>

        <!-- Single Insta Feeds -->
        <div class="single-insta-feeds">
          <img src="img/bg-img/insta2.jpg" alt="">
          <!-- Icon -->
          <div class="insta-icon">
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          </div>
        </div>

        <!-- Single Insta Feeds -->
        <div class="single-insta-feeds">
          <img src="img/bg-img/insta3.jpg" alt="">
          <!-- Icon -->
          <div class="insta-icon">
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          </div>
        </div>

        <!-- Single Insta Feeds -->
        <div class="single-insta-feeds">
          <img src="img/bg-img/insta4.jpg" alt="">
          <!-- Icon -->
          <div class="insta-icon">
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          </div>
        </div>

        <!-- Single Insta Feeds -->
        <div class="single-insta-feeds">
          <img src="img/bg-img/insta5.jpg" alt="">
          <!-- Icon -->
          <div class="insta-icon">
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          </div>
        </div>

        <!-- Single Insta Feeds -->
        <div class="single-insta-feeds">
          <img src="img/bg-img/insta6.jpg" alt="">
          <!-- Icon -->
          <div class="insta-icon">
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          </div>
        </div>

        <!-- Single Insta Feeds -->
        <div class="single-insta-feeds">
          <img src="img/bg-img/insta7.jpg" alt="">
          <!-- Icon -->
          <div class="insta-icon">
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- ##### Follow Us Instagram Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-12 h-100 d-flex flex-wrap align-items-center justify-content-between">
            <!-- Footer Social Info -->
            <div class="footer-social-info text-right">
              <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
            <!-- Footer Logo -->
            <div class="footer-logo">
              <a href="index.html"><img src="img/core-img/logo.png" alt=""></a>
            </div>
            <!-- Copywrite -->
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made
              with
              <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                target="_blank">Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>

</html>